*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content:start;
  align-items:flex-end;
  width:100%;
  height: 10vh;
  background-color:transparent;
  gap: 9vh;
}
.logoHeader{
  height: 29px;
  display: none;
}
.btnHome{
  width: 19px;
  height: 23px;
}
.btnEmail{
  width: 23px;
  height: 19px;
  display: none;
}
.container{
  background-color: #3772ff;
  background-image: url(../Formas/Vector\ 1.png), url(../Formas/Vector\ 4.png), url(../Formas/Forma\ 2.png), url(../Mobile/Logo/Ilustração_\(3\).png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0, center right, center bottom;
  background-size: 92vw, 97vw, 20vw, 30vh;
}
.main-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  text-align: center;
}
.imgLogo{
  height: 40px;
  position: absolute;
  top: 21%;
}
.txtBoasvindas{
  width: 155px;
  height: 48px;
  font-style: normal;
  font-size: 26px;
  line-height: 48px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  position: absolute;
  top: 30%;
}
.txtAdote{
  width: 248px;
  height: 72px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 38%;
}
.formulario a{
  display: flex;
  justify-content: center;
}
.btnCadastrado, .btnCadastrar{
  width: 180px;
  height: 40px;
  background-color: #FC7071;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  position: absolute;
}
.btnCadastrado{
  top: 51%;
}
.btnCadastrar{
  top: 62%;
}
.footerbar{
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #36D6AD;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16;
  font-weight: 400;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
}
@media(min-width:442px){
  .container{
    background-size: 76vw, 80vw, 8vh, 38vh;
  }
  .navbar{
    gap: 7vh;
  }
  .btnHome{
    margin-left: 20px;
  }
  .imgLogo{
    height: 56px;
    position: absolute;
    top: 18%;
  }
  .txtBoasvindas{
    width: 233px;
    height: 48px;
    font-size: 28px;
    top: 27%;
  }
  .txtAdote{
    width: 344px;
    height: 78px;
    font-size: 20px;
    line-height: 26px;
    top: 35%;
  }
  .btnCadastrado, .btnCadastrar{
    width: 280px;
    height: 48px;
    font-size: 20;
  }
  .btnCadastrado{
    top: 48%;
  }
  .btnCadastrar{
    top: 58%;
  }
}
@media(min-width:540px){
  .container{
    background-size: 60vw, 64vw, 10vh, 37vh;
  }
  .navbar{
    gap: 7vh;
  }
  .btnHome{
    margin-left: 20px;
  }
  .imgLogo{
    height: 48px;
    position: absolute;
    top: 18%;
  }
  .txtBoasvindas{
    width: 233px;
    height: 48px;
    font-size: 28px;
    top: 27%;
  }
  .txtAdote{
    width: 344px;
    height: 78px;
    font-size: 20px;
    line-height: 26px;
    top: 35%;
  }
  .btnCadastrado, .btnCadastrar{
    width: 280px;
    height: 48px;
    font-size: 20;
  }
  .btnCadastrado{
    top: 48%;
  }
  .btnCadastrar{
    top: 58%;
  }
} 
@media(min-width:768px){
  .container{
    background-size: 70vw, 74vw, 14vh, 32vh;
  }
  .navbar{
    gap: 7vh;
  }
  .logoHeader{
    display:inline-block;
    margin-left: 60px;
  }
  .btnHome{
    margin-left: 0px;
  }
  .imgLogo{
    height: 56px;
    position: absolute;
    top: 26%;
  }
  .txtBoasvindas{
    width: 233px;
    height: 48px;
    font-size: 28px;
    top: 35%;
  }
  .txtAdote{
    width: 344px;
    height: 78px;
    font-size: 20px;
    line-height: 26px;
    top: 42%;
  }
  .btnCadastrado, .btnCadastrar{
    width: 344px;
    height: 48px;
    font-size: 20;
  }
  .btnCadastrado{
    top: 54%;
  }
  .btnCadastrar{
    top: 62%;
  }
}
@media(min-width:1024px){
  .container{
    background-size: 45vw, 47vw, 12vh, 38vh;
  }
  .navbar{
    gap: 7vh;
  }
  .logoHeader{
    display:inline-block;
    margin-left: 100px;
  }
  .btnHome{
    margin-left: 0px;
  }
  .imgLogo{
    height: 54px;
    position: absolute;
    top: 17%;
  }
  .txtBoasvindas{
    width: 233px;
    height: 48px;
    font-size: 28px;
    top: 25%;
  }
  .txtAdote{
    width: 488px;
    height: 52px;
    font-size: 20px;
    line-height: 26px;
    top: 34%;
  }
  .btnCadastrado, .btnCadastrar{
    width: 362px;
    height: 42px;
    font-size: 20;
  }
  .btnCadastrado{
    top: 45%;
  }
  .btnCadastrar{
    top: 53%;
  }
}
@media(min-width:1440px){
  .container{
    background-size: 35vw, 37vw, 14vh, 41vh;
  }
  .navbar{
    gap: 7vh;
  }
  .logoHeader{
    display:inline-block;
    margin-left: 100px;
  }
  .btnHome{
    margin-left: 0px;
  }
  .imgLogo{
    height: 54px;
    position: absolute;
    top: 14%;
  }
  .txtBoasvindas{
    width: 233px;
    height: 48px;
    font-size: 28px;
    top: 25%;
  }
  .txtAdote{
    width: 488px;
    height: 52px;
    font-size: 20px;
    line-height: 26px;
    top: 34%;
  }
  .btnCadastrado, .btnCadastrar{
    width: 362px;
    height: 42px;
    font-size: 20;
  }
  .btnCadastrado{
    top: 45%;
  }
  .btnCadastrar{
    top: 53%;
  }
}
@media(min-width:2560px){
  .container{
    background-size: 35vw, 37vw, 14vh, 42vh;
  }
  .navbar{
    gap: 7vh;
  }
  .logoHeader{
    display:inline-block;
    margin-left: 100px;
  }
  .btnHome{
    margin-left: 0px;
  }
  .imgLogo{
    height: 54px;
    position: absolute;
    top: 14%;
  }
  .txtBoasvindas{
    width: 233px;
    height: 48px;
    font-size: 28px;
    top: 25%;
  }
  .txtAdote{
    width: 488px;
    height: 52px;
    font-size: 20px;
    line-height: 26px;
    top: 34%;
  }
  .btnCadastrado, .btnCadastrar{
    width: 362px;
    height: 42px;
    font-size: 20;
  }
  .btnCadastrado{
    top: 45%;
  }
  .btnCadastrar{
    top: 53%;
  }
}